@keyframes slideInOut {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

body .darkmode {
  display: inline-block;
  font-size: 2rem;
  padding: 0rem 1rem 0.75rem 1rem;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.5s ease-in-out;
}

body.dark .darkmode {
  background-color: #000; /* Set your dark mode background color */
}

body:not(.dark) .darkmode {
  background-color: #fff; /* Set your light mode background color */
}
