/* Google Font Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  background-color: #262626;
}

header h1 {
    padding-right: 0px !important;
}

/* Dark Mode Toggle Styles */

.darkmode .dark .sidebar input{
  color: #262626;
}