header {
    border-radius: 0 0 0 0 !important; /* Ensure theres no rounded edges as theres a nav bar*/
}

.button-container {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: var(--button-colour);
    box-sizing: border-box;
    width: 175px;
    height: 77vh;
    position: relative; 
}

.button-container::after {
    content: "";
    position: absolute;
    top: 0;
    right: -10px; 
    width: 10px; 
    height: 100%;
    background-color: var(--button-colour);
    border-radius: 0 20px 10px 0; 
    transform: rotate(360deg); 
    z-index: -1; 
}

.rounded-button {
    display: block;
    padding: 10px; 
    font-size: 20px; 
    border: none;
    border-radius: 20px;
    background-color: var(--button-colour); 
    color: var(--text-colour);
    cursor: pointer;
    margin-bottom: 70px; 
    text-decoration: none;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    position: relative; /* Required for pseudo-element positioning */
    overflow: hidden; /* Hide overflow to ensure the pseudo-element does not leak */
}

.rounded-button::before {
    content: ''; /* Required for pseudo-element */
    position: absolute;
    bottom: 0;
    left: 50%; /* Position the underline in the middle */
    width: 0;
    height: 2px; /* Thickness of the underline */
    background-color: var(--button-hover-colour); /* Color of the underline */
    transition: width 0.5s ease, left 0.5s ease; /* Transition for width and left position */
    transform: translateX(-50%); /* Center the underline */
}

.rounded-button:hover::before {
    width: 200%; /* Expand the width of the underline to extend equally to both sides */
    left: -50%; /* Move the underline to start from the left */
}