header {
    border-radius: 0 0 0 0 !important; /* Ensure theres no rounded edges as theres a nav bar*/
}
.button-container {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: var(--button-colour);
    box-sizing: border-box;
    width: 175px;
    height: 77vh;
    position: relative; 
}

.button-container::after {
    content: "";
    position: absolute;
    top: 0;
    right: -10px; 
    width: 10px; 
    height: 100%;
    background-color: var(--button-colour);
    border-radius: 0 20px 10px 0; 
    transform: rotate(360deg); 
    z-index: -1; 
}

.rounded-button {
    display: block;
    padding: 10px; 
    font-size: 20px; 
    border: none;
    border-radius: 20px;
    background-color: var(--button-colour); 
    color: var(--text-colour);
    cursor: pointer;
    margin-bottom: 70px; 
    text-decoration: none;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    transition: background-color 0.5s; 
}

.rounded-button:hover {
    background-color: var(--button-hover-colour); /* Darker shade when hovered over */
}