.login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, .5);
    box-sizing: border-box;
    border-radius: 10px;
    animation: glow 4s linear infinite;
}

@keyframes glow {
    0% {
        box-shadow: 0 0 0px red, 0 0 0px red, 0 0 0px red, 0 0 0px red, 0 0 0px red, 0 0 0px red, 0 0 0px red;
    }
    15% {
        box-shadow: 0 0 10px red, 0 0 0px red, 0 0 0px red, 0 0 0px red, 0 0 0px red, 0 0 0px red, 0 0 0px red;
    }
    30% {
        box-shadow: 0 0 10px red, 0 0 20px red, 0 0 0px red, 0 0 0px red, 0 0 0px red, 0 0 0px red, 0 0 0px red;
    }
    45% {
        box-shadow: 0 0 10px red, 0 0 20px red, 0 0 30px red, 0 0 0px red, 0 0 0px red, 0 0 0px red, 0 0 0px red;
    }
    60% {
        box-shadow: 0 0 10px red, 0 0 20px red, 0 0 30px red, 0 0 40px red, 0 0 0px red, 0 0 0px red, 0 0 0px red;
    }
    75% {
        box-shadow: 0 0 10px red, 0 0 20px red, 0 0 30px red, 0 0 40px red, 0 0 50px red, 0 0 0px red, 0 0 0px red;
    }
    90% {
        box-shadow: 0 0 10px red, 0 0 20px red, 0 0 30px red, 0 0 40px red, 0 0 50px red, 0 0 60px red, 0 0 0px red;
    }
    100% {
        box-shadow: 0 0 10px red, 0 0 20px red, 0 0 30px red, 0 0 40px red, 0 0 50px red, 0 0 60px red, 0 0 70px red;
    }
}

.login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: var(--text-colour);
    text-align: center;
}

.login-box .user-box {
    position: relative;
}

.login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: var(--text-colour);
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid var(--text-colour);
    outline: none;
    background: transparent;
}

.login-box .user-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: var(--text-colour);
    pointer-events: none;
    transition: .5s;
}

.login-box .user-box input:focus~label,
.login-box .user-box input:valid~label {
    top: -20px;
    left: 0;
    color: var(--button-text-colour);
    font-size: 12px;
}

.login-box form button {
    padding: 10px 20px;
    background: var(--button-colour-submit);
    color: var(--text-colour);
    border-radius: 5px;
    outline: none;
    border: none;
    font-size: 16px;
    text-transform: uppercase;
    transition: .5s;
    margin-top: 10px;
    letter-spacing: 4px;
    cursor: pointer;
}

.login-box form button:hover {
    box-shadow: 0 0 15px var(--button-colour-submit);
}