header {
    border-radius: 0 0 1rem 1rem !important;
} 

.login-box {
    position: relative;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, .5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    border-radius: 10px;
}

.login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: var(--text-colour);
    text-align: center;
}

.login-box .user-box {
    position: relative;
}

.login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: var(--text-colour);
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid var(--text-colour);
    outline: none;
    background: transparent;
}

.login-box .user-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: var(--text-colour);
    pointer-events: none;
    transition: .5s;
}

.login-box .user-box input:focus~label,
.login-box .user-box input:valid~label {
    top: -20px;
    left: 0;
    color: var(--button-text-colour);
    font-size: 12px;
}

.login-box form button {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    background: var(--button-colour-submit);
    color: var(--text-colour);
    border-radius: 5px;
    outline: none;
    border: none;
    font-size: 16px;
    text-transform: uppercase;
    transition: .5s;
    margin-top: 10px;
    letter-spacing: 4px;
    cursor: pointer;
}

.login-box form button:hover {
    box-shadow: 0 0 15px var(--button-colour-submit);
}

/* Caps Lock Indicator Styles */

.caps-lock-warning {
    font-size: 12px;
    color: #D22A3A;
    margin-top: 5px;
  }

/* Password Visibility Icon Styles */
  .user-box {
    position: relative;
  }
  
  .password-container {
    display: relative; 
    align-items: center; 
  }
  
  .password-container input {
    width: calc(100% - 30px); 
    padding: 10px 0;
    font-size: 16px;
    color: var(--text-colour);
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid var(--text-colour);
    outline: none;
    background: transparent;
  }
  
  .password-container button {
    position: absolute;
    right: 0;
    bottom: 50%; /* adjust as needed for vertical alignment */
    transform: translateY(50%);
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}
  
  /* Adjust the position of the Caps Lock warning */
  .caps-lock-warning {
    position: absolute;
    bottom: -20px;
  }