/* Header style */
header {
    border-radius: 0 0 1rem 1rem !important;
}

/* Main content style */
main {
    padding: 2em;
    display: flex;
    flex: 1;
    align-items: stretch !important;
    flex-direction: column !important;
    text-align: center;
    color: var(--footer-header-colour);
}

/* Form style */
form {
    max-width: 300px;
    margin: 0 auto;
    color: var(--footer-header-colour);
    transition: all 0.3s ease;
    /* Adding transition */
}

/* Input and label style */
label,
input,
select {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    box-sizing: border-box;
    border-radius: 5px;
    transition: all 0.3s ease;
    /* Adding transition */
}

input {
    border-radius: 5px !important;
}

/* Button style */
button {
    background-color: var(--footer-header-colour);
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease;
    /* Adding transition */
}

/* Option style */
.option {
    color: red;
}

/* Option boxes style */
/* Add animation for showing and hiding option boxes */
.option-boxes {
    display: none;
    border-radius: 5px;
    color: var(--footer-header-colour);
    transition: all 0.3s ease;
    animation-duration: 0.3s;
    animation-fill-mode: both;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
        transform: translateY(0);
    }

    to {
        opacity: 0;
        transform: translateY(-20px);
    }
}

/* Date input style */
input[type="date"] {
    width: 300px;
    padding: 10px;
    border-radius: 5px;
    box-sizing: border-box;
    transition: all 0.3s ease;
    /* Adding transition */
}