:root {

    /*General Colours*/
    --footer-header-colour: #405C59;
    --navigation-colour: #D22A3A;
    --container-colour: #ADD8E6;
    --button-hover-colour: #333;
    --button-colour: #444;
    --text-colour: #FFF;
    --button-text-colour: #405C59;
    --button-colour-submit: #D22A3A;
    --background-colour: #FFF;

    /*Light Mode Colours*/
    --background-colour-light: #FFF;
    --text-colour-light: #151515;

    /*Dark Mode Colours*/
    --background-colour-dark: #151515;
    --text-colour-dark: #405C59;

    /*Loading Bar Colours*/
    --empty-box-colour: #405C59;
    --full-box-colour: #D22A3A;

    /*Search Styles*/
    --search-box-colour: #DDD;
    --rate-container-colour: #888;

}

/* Universal Scrollbar Styles */
    ::-webkit-scrollbar {
    background-color: #202324;
    color: #aba499;
}

    ::-webkit-scrollbar-corner {
    background-color: #181a1b;
}

    ::-webkit-scrollbar-thumb {
    background-color: #454a4d;
}

/* Google Poppins Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

/* General Styles for Website */

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--background-colour-dark);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: var(--text-color);
}

header {
    background-color: var(--footer-header-colour);
    color: var(--text-colour);
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 0 0 1rem 0;
    width: 100% !important;
}

header img {
    width: 100px;
    margin-right: auto; 
}

header h1 {
    margin: 0 auto; 
    text-align: center;
    padding-right: 5rem;
}

@media screen and (max-width: 1600px) {
    h1 {
        padding-left: 2rem;
    }
}

nav {
    background-color: var(--navigation-colour);
    color: var(--text-colour);
    text-align: center;
    padding: 0.5em 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    transition: background-color 0.5s;
    border-radius: 0 0 1rem 0;
}

nav a {
    color: var(--text-colour);
    text-decoration: none;
    padding: 1em;
    margin: 0 1.5em;
    transition: background-color 0.5s;
    border-radius: 20px;
}

nav a:hover {
    background-color: var(--button-colour);
}

main {
    display: flex;
    flex: 1; /* Grow to fill available space */
    align-items: stretch; /* Make the container stretch vertically */
}

footer {
    background-color: var(--footer-header-colour);
    color: var(--text-colour);
    text-align: center;
    padding: 1em 0;
    margin-top: auto;
    width: 100vw;
    font-family: 'Poppins', sans-serif;
}

.darkmode {
    display: inline-block;
    font-size: 2rem;
    padding: 1rem;
    cursor: pointer;
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 1;
}

.darkmode .light,
.darkmode .dark {
    display: none;
}

.dark .darkmode .light,
:not(.dark) .darkmode .dark {
    display: inline-block;
}
