header {
    border-radius: 0 0 1rem 1rem !important; /* Makes bottom header edges rounded*/
}
/* Insured Info Container Styles */
main {
    background-color: var(--button-colour);
    color: var(--text-colour);
    padding: 2em;
    margin: 20vh;
    box-sizing: border-box;
    text-align: center; 
    border-radius: 10px;
    flex-direction: column !important;
}
/* Back to Claim Info Button Styles */
.button-container {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-around; /* Distribute the available space vertically */
    background-color: var(--button-colour); 
    box-sizing: border-box;
    width: 175px; 
    height: 100%; 
}

.rounded-button {
    display: block;
    padding: 10px; 
    font-size: 20px; 
    border: none;
    border-radius: 20px;
    background-color: var(--button-colour);
    cursor: pointer;
    margin-bottom: 20px; 
    text-decoration: none;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    transition: background-color 0.5s; 
}

.rounded-button:hover {
    background-color: var(--button-hover-colour); 
}

.special-button {
    margin-bottom: 70px; 
}
#backButton {
    background-color: #555;
    color: var(--text-colour);
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#backButton:hover {
    background-color: var(--button-hover-colour);
}