body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #151515;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: #fff;
}

header {
    background-color: #405C59;
    color: #fff;
    text-align: center;
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Change back to space-between */
    padding-right: 53em
}

header img {
    width: 100px;
    margin-right: auto; /* Set margin-right to auto to push the logo to the left */
}

header h1 {
    margin: 0;
}

h2 {
    background-color: #405C59;
    color: #fff;
    text-align: center;
    padding: 1em;
    margin: 0;
}

h3 {
    text-align: center;
    margin-top: 1rem; /* Add a top margin of 1rem */
}

main {
    padding: 2em;
}

label {
    display: block;
    margin-bottom: 10px;
    text-align: center;
}

/* Search Bar */
#searchInput {
    width: 300px;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #000000;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s;
}

#searchInput:focus {
    border-color: #333;
}

/* Rate button styling */
.rate-button {
    background-color: #ccc;
    color: #333;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
    opacity: 0;
    animation: fadeIn 0.5s ease-in-out forwards;
    margin-top: 10px; /* Adjust the margin-top value as needed */
}

.rate-button:hover {
    background-color: #bbb;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

footer {
    background-color: #405C59;
    color: #fff;
    text-align: center;
    padding: 1em 0;
    margin-top: auto;
}

/* Add styles for the search input wrapper */
#searchWrapper {
    text-align: center;
    margin-top: 20px;
}

#results {
    margin-top: 10px;
}

#totalBox {
    margin-top: 20px;
}

/* Style for the modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
}

/* Style for the modal content */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* Style for the close button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.item-container {
    background-color: #888;
    padding: 10rem;
    border-radius: 10px;
    text-align: center;
    margin: 2.5rem;
    font-weight: 700;
}

/* Style for the item name */
#itemName {
    font-size: 1.1rem;
    margin-bottom: 1.25rem;
    padding: 0.5rem;
    color: #ddd;
    font-weight: 500;
}

/* Style for the code */
#itemCode {
    font-size: 1rem;
    color: #ddd;
}

/* Add styles for the rate option dropdown */
#rateOption {
    display: block;
    margin: 1rem auto 0; 
    border-radius: 0.5rem;
}

/* Center the dropdown options */
#rateOption option {
    text-align: center;
}

/* Style for the container */
.container {
    text-align: center;
    margin-top: 20px; 
}
/* Style for the search input */
#searchInput {
    width: 300px;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #000000;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s;
}

#searchInput:focus {
    border-color: #333;
}

/* Style for the button grid */
.button-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 10px;
    justify-content: center;
}

/* Style for the buttons */
button {
    text-align: center !important;
    margin: 1rem auto !important; 
    display: block !important;
    border-radius: 0.5rem;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #bbb;
}