body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #151515;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: #fff;
    align-items: 100vw;
}

header {
    background-color: #405C59;
    color: #fff;
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

header img {
    width: 100px;
    margin-right: auto; 
}

header h1 {
    margin: 0 auto; 
    text-align: 100vw;
    padding-right: 5rem;
}

@media screen and (max-width: 1600px) {
    h1 {
        padding-left: 2rem;
    }
}


main {
    display: flex;
    flex: 1; /* Grow to fill available space */
    align-items: stretch; /* Make the container stretch vertically */
}

.button-container {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #444;
    box-sizing: border-box;
    width: 175px;
    height: vh;
    position: relative; /* Make the container a positioning context */
}

.button-container::after {
    content: "";
    position: absolute;
    top: 0;
    right: -10px; 
    width: 10px; 
    height: 100%;
    background-color: #444;
    border-radius: 0 20px 10px 0; 
    transform: rotate(360deg); 
    z-index: -1;
}

.rounded-button {
    display: block;
    padding: 10px; 
    font-size: 20px; 
    border: none;
    border-radius: 20px;
    background-color: #444; 
    color: #fff;
    cursor: pointer;
    margin-bottom: 20px; 
    text-decoration: none;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    transition: background-color 0.5s; 
}

.rounded-button:hover {
    background-color: #333;
}

.special-button {
    margin-bottom: 70px; 
}

footer {
    background-color: #405C59;
    color: #fff;
    text-align: center;
    padding: 1em 0;
    width: 100%;
}

.darkmode {
    display: inline-block;
    font-size: 2rem;
    padding: 1rem;
    cursor: pointer;
    position: absolute;
    top: 1rem;
    right: 1rem; 
    z-index: 1000; 
}

.darkmode .light,
.darkmode .dark {
    display: none;
}

.dark .darkmode .light,
:not(.dark) .darkmode .dark {
    display: inline-block;
}