body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #151515;
    color: #fff;
    text-align: center;
    align-items: 100vw;
}

header {
    background-color: #405C59;
    color: #fff;
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

header img {
    width: 100px;
    margin-right: auto; /* Push the logo to the left */
}

header h1 {
    margin: 0 auto; /* Center horizontally */
    text-align: 100vw;
    padding-right: 5rem;
}

@media screen and (max-width: 1600px) {
    h1 {
        padding-left: 2rem;
    }
}

main {
    padding: 2em;
    text-align: center; /* Center the text within the main element */
}

html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    
}

.login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, .5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    border-radius: 10px;
}

.login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
}

.login-box .user-box {
    position: relative;
}

.login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}

.login-box .user-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

.login-box .user-box input:focus~label,
.login-box .user-box input:valid~label {
    top: -20px;
    left: 0;
    color: #405C59;
    font-size: 12px;
}

.login-box form button {
    padding: 10px 20px;
    background: #D22A3A;
    color: #fff;
    border-radius: 5px;
    outline: none;
    border: none;
    font-size: 16px;
    text-transform: uppercase;
    transition: .5s;
    margin-top: 10px;
    letter-spacing: 4px;
    cursor: pointer;
}

.login-box form button:hover {
    box-shadow: 0 0 15px #D22A3A;
}

footer {
    background-color: #405C59;
    color: #fff;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.darkmode {
    display: inline-block;
    font-size: 2rem;
    padding: 1rem;
    cursor: pointer;
    position: absolute;
    top: 1rem;
    right: 1rem; 
    z-index: 1000; 
}

.darkmode .light,
.darkmode .dark {
    display: none;
}

.dark .darkmode .light,
:not(.dark) .darkmode .dark {
    display: inline-block;
}